<div
  class="wrapper"
  [ngClass]="{
    'model1': models.length < 2,
    'model2': models.length === 2 || (models.length > 2 && !isAvailableModel3),
    'model3': (models.length === 3 || (models.length > 3 && !isAvailableModel4)) && isAvailableModel3,
    'model4': models.length > 3 && isAvailableModel4 && isAvailableModel3 }"
>
  <ng-container *ngIf="models.length > 0">
    <div class="wrapper-model" *ngFor="let model of models" (click)="selectModel(model)">
      <div class="wrapper-model-image">
        <img [src]="model.mainPhoto.url" [alt]="model.name">
      </div>
      <span class="wrapper-model-name">{{ model.name }}</span>
      <span class="wrapper-model-price">{{ getModelPrice(model) }}</span>
    </div>
  </ng-container>

  <div *ngIf="!models || models.length === 0" class="wrapper-not-found">
    <span>Таких моделей пока нет</span>
  </div>
</div>
