<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <a class="navbar-brand" href="#">  </a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Navigáció kapcsoló"
  >
    <span
      class="navbar-toggler-icon d-flex align-items-center justify-content-center"
    >
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse" >
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let route of routes" class="nav-item" [ngClass]="{ active: route.active }">
        <a (click)="linkTo(route)" class="nav-link">{{ route.name }}</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Новые автомобили</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Финанисирование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Трейд-ин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Гарантия</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ономнаши</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li> -->
      <!-- <li dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()" class="nav-item">
        <a href class="nav-link" id="basic-link" dropdownToggle (click)="false"
            aria-controls="basic-link-dropdown">Click me for a dropdown, yo!</a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="basic-link">
          <li *ngFor="let choice of items">
            <a class="dropdown-item" href="#">{{choice}}</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </ngx-navbar-collapse>
</nav>
