<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <a class="navbar-brand admin-indicator" *ngIf="(user | async) && (userInfo | async)?.role === 'Admin'" href="" (click)="linkToAdmin($event)">Admin</a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Navigáció kapcsoló"
  >
    <span
      class="navbar-toggler-icon d-flex align-items-center justify-content-center"
    >
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse" >
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let route of routes">

        <ng-template #usualA>
          <li class="nav-item"
              [ngClass]="{ active: route.active }">

            <a (click)="linkTo(route)"
              class="nav-link"
              aria-controls="basic-link-dropdown">{{ route.name }}</a>
          </li>
        </ng-template>

        <li *ngIf="!!route.items else usualA"
            class="nav-item"
            [ngClass]="{ active: route.active, 'nav-items': !!route.items }"
            dropdown>

          <a (click)="!route.items ? linkTo(route) : false"
            class="nav-link"
            dropdownToggle
            aria-controls="basic-link-dropdown">{{ route.name }}</a>

          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="basic-link">
            <li #eventInitiator *ngFor="let childRoute of route.items">
              <a placement="right"
                (mouseenter)="registerPopover(pop, eventInitiator, popTemplate)"
                [popover]="popTemplate"
                containerClass="custom-popover-class"
                (click)="linkTo(route, childRoute.route)"
                class="dropdown-item"
                #pop="bs-popover">{{childRoute.name}}</a>

              <ng-template #popTemplate>
                <app-models-grid
                  [models]="childRoute && childRoute.custumParams && childRoute.custumParams.models"
                  (selectionModel)="linkToModelPresentation($event)">
                </app-models-grid>
              </ng-template>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </ngx-navbar-collapse>
</nav>
