<div class="main-content">
  <div class="main-photo">
    <img #image [src]="model.mainPresenPhoto.url" alt="">
  </div>
  <div class="main-toolbar">
    <div class="main-toolbar-price">
      <ng-container *ngIf="price">
        <span>от</span>
        <span class="cost">{{ price }} BYN</span>
      </ng-container>
    </div>

    <div class="main-toolbar-buttons">
      <button
        (click)="null"
        pButton
        type="button"
        label="Рассчитать кредит"
        icon="pi pi-search"
        iconPos="right"
        class="ui-button-warning"
        disabled>
      </button>
      <button
        [disabled]="!model.priseList.url"
        (click)="openInNewTab(model.priseList.url)"
        pButton
        type="button"
        label="Скачать прайс"
        icon="pi pi-download"
        iconPos="right"
        class="ui-button-warning">
      </button>
    </div>
  </div>

  <div class="modules" *ngIf="model">
    <div *ngFor="let module of model.modulesInPres" class="modules-wrapper">
      <app-design-module *ngIf="module.type === PresModuleType.design" [moduleData]="module.data"></app-design-module>
      <app-gallery-module *ngIf="module.type === PresModuleType.gallery" [moduleData]="module.data"></app-gallery-module>
      <app-equipment-module *ngIf="module.type === PresModuleType.equipment" [moduleData]="module.data"></app-equipment-module>
    </div>
  </div>
  <div class="footer">
    <h3 class="footer-title">Готов испытать <span class="footer-title-markName">{{mark.name}}</span>&nbsp;<span class="footer-title-modelName">{{model.name}}</span></h3>
    <div class="footer-buttons">
      <button
        type="button"
        class="footer-buttons-item"
        [disabled]="!model.priseList.url"
        (click)="openInNewTab(model.priseList.url)"
      >
        <i class="pi pi-download"></i>
        <span>Скачать прайс-list</span>
      </button>

      <button type="button" class="footer-buttons-item" disabled>
        <i class="pi pi-key"></i>
        <span>Рассчитать кредит</span>
      </button>

      <button type="button" class="footer-buttons-item" disabled>
        <i class="pi pi-check-square"></i>
        <span>Подать заявку</span>
      </button>
    </div>
  </div>

  <p style="padding: 20px;">Фотографии моделей автомобилей и аксессуаров, представленные на сайте, предназначены только для ознакомления. Цвета и некоторые внешние или внутренние элементы могут отличаться от реальных. Технические параметры, оборудование, цены и технические характеристики транспортных средств, а также цены на запчасти и аксессуары, а также стоимость обслуживания, могут изменяться и обновляться. Информация, представленная на сайте, не является коммерческим предложением, а также не является приглашением к переговорам. Индивидуальное соглашение о свойствах, технических характеристиках и ценах транспортного средства, запасных частей или аксессуаров, а также времени и метода доставки предусмотрено в договоре, заключенном с авторизованными партнерами.</p>

</div>
