<div class="main-content">
  <div class="main-photo">
    <img [src]="model?.mainPresenPhoto?.url" alt="">
  </div>
  <div class="main-toolbar">
    <div class="main-toolbar-price">
      <ng-container *ngIf="price">
        <span>от</span>
        <span class="cost">{{ price }} BYN</span>
      </ng-container>
    </div>

    <div class="main-toolbar-buttons">
      <button
        (click)="null"
        pButton
        type="button"
        label="Найти представителя"
        icon="pi pi-search"
        class="ui-button-warning">
      </button>
      <button
        (click)="null"
        pButton
        type="button"
        label="Скачать прайс"
        icon="pi pi-download"
        class="ui-button-warning">
      </button>
    </div>
  </div>

  <div class="module" *ngIf="model">
    <div *ngFor="let module of model.modulesInPres" class="module-wrapper">
      <app-design-module *ngIf="module.type === PresModuleType.design" [moduleData]="module.data"></app-design-module>
      <app-gallery-module *ngIf="module.type === PresModuleType.gallery" [moduleData]="module.data"></app-gallery-module>
      <app-equipment-module *ngIf="module.type === PresModuleType.equipment" [moduleData]="module.data"></app-equipment-module>
    </div>
  </div>
</div>
