.main-content
  .main-photo
    height: 450px
    overflow: hidden
    position: relative

    & > img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: top

  .main-toolbar
    width: 100%
    background: #cccccc
    display: flex
    align-items: center
    min-height: 80px
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 30px
    padding-right: 30px
    justify-content: space-around

    &-price
      display: flex
      flex-direction: column
      font-size: 1.5rem
      // span:first-child

    &-buttons
      button
        ::ng-deep
          &.ui-button-text, &.ui-button-icon-right
            font-size: 1.3rem

        // padding: 20px
        // background: bl

      button + button
        margin-left: 15px
