<div class="main-content">
  <app-carousel [items]="topSliders">
    <ng-template let-topSlide>
      <img [src]="topSlide.image.link" [alt]="topSlide.image.alt" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </app-carousel>

  <div class="container">
    <tabset class="type-tabs">
      <tab *ngFor="let tab of tabs" [heading]="tab.title">
        <app-models-grid
          [models]="tab.models"
          (selectionModel)="linkToModelPresentation($event)">
        </app-models-grid>
      </tab>
    </tabset>
    <hr>
    <tabset class="mark-tabs">
      <tab *ngFor="let tab of markTabs" [heading]="tab.title">
        <app-models-grid
          [models]="tab.models"
          (selectionModel)="linkToModelPresentation($event)">
        </app-models-grid>
      </tab>
    </tabset>
    <hr>
  </div>

</div>
