.main-content
  padding: 10px 0

  .panelBar
    padding: 5px
    display: flex

    button + button
      margin-left: 5px

  .header-of-module
    font-size: 1.5rem


.wrapper-create-mark
  display: flex
  flex-direction: column
  margin: 10px 0
  padding: 0 10px
  border-bottom: #ccc 1px solid
  border-top: #ccc 1px solid

  .models
    width: 100%
    border: #ccc 1px solid
    display: flex
    flex-direction: column

    .model
      border: #a8a8a8 1px solid
      display: flex
      flex-direction: column

      &-row
        margin: 0 5px
        padding: 5px
        display: flex

        span
          min-width: 30%

        input, textarea
          &:not(.originally)
            flex: 1 1 auto


        .table-attributes
          width: 100%
          display: flex
          flex-direction: column

          .table-attribute
            width: 100%
            display: flex

            &> *
              width: 50%

      // * + input, textarea
      //   flex: 1 1 auto
