.main-content
  padding: 10px 0

  .panelBar
    padding: 5px
    display: flex

    button + button
      margin-left: 5px

  .header-of-module
    font-size: 1.5rem


.wrapper-create-mark
  .models
    width: 100%
    border: #ccc 1px solid
    display: flex
    flex-direction: column

    .model
      border: #a8a8a8 1px solid
      display: flex
      flex-direction: column

      &-row


        .table-attributes
          width: 100%
          display: flex
          flex-direction: column

          .table-attribute
            width: 100%
            display: flex

            &> *
              width: 50%

      // * + input, textarea
      //   flex: 1 1 auto
