<div class="main-content">
  <div class="col-12">
    <tabset>
      <tab heading="Атрибуты">
        <div>
          <span class="header-of-module">Атрибуты</span>

          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <button (click)="addAttribte()" pButton type="button" label="Добавить аттриут" icon="pi pi-plus"></button>
              <button (click)="createAttributes()" pButton type="button" label="Сохранить изменения" icon="pi pi-check" class="ui-button-warning"></button>
              <button (click)="refresfAttributes()" pButton type="button" label="Перезагрузить атрибуты" icon="pi pi-plus" class="ui-button-secondary"></button>

              <!-- <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>

              <i class="pi pi-bars"></i>

              <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton> -->
            </div>

            <!-- <div class="ui-toolbar-group-right">
              <button pButton type="button" icon="pi pi-search"></button>
              <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
              <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
            </div> -->
          </p-toolbar>

          <p-table [value]="attributes">
            <ng-template pTemplate="header" let-attribute>
              <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Значения</th>
                <th>Должен быть везде?</th>
                <th> </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-attribute>
              <tr>
                <td>
                  <input type="text" pInputText [(ngModel)]="attribute.name"/>
                </td>
                <td>
                  <select [(ngModel)]="attribute.type">
                    <option *ngFor="let type of typeAutoAttribute" [value]="type.value">{{type.name}}</option>
                  </select>
                </td>
                <td>
                  <p-chips *ngIf="attribute?.type === TypeAutoAttribute.select" [(ngModel)]="attribute.variants" placeholder="Значения"></p-chips>
                </td>
                <td>
                  <p-checkbox [(ngModel)]="attribute.isRequired" binary="true"></p-checkbox>
                </td>
                <td>
                  <p-button styleClass="ui-button-danger" icon="pi pi-times" iconPos="left" (click)="deleteAttribute(attribute)"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <!-- <div class="panelBar">
            <label>Название атрибута</label>
            <button pButton type="button" (click)="addAttribte()">Добавить аттрибут</button>
            <button pButton type="button" class="ui-button-success" (click)="createAttributes()">Сохранить изменения</button>
            <p-button label="Click" styleClass="ui-button-success" (click)="createAttributes()">Сохранить изменения</p-button>
          </div> -->
        </div>
      </tab>

      <tab heading="Модельный ряд">
        <div>
          <span class="header-of-module">Марки</span>

          <div class="panelBar">
            <button type="button" class="btn btn-primary"
              [(ngModel)]="isShowCreateMarkForm" btnCheckbox
              [btnCheckboxTrue]="true" [btnCheckboxFalse]="false">
              Создать марку
            </button>
          </div>

          <accordion [isAnimated]="true">
            <accordion-group *ngFor="let mark of marks; let index = index" [heading]="mark.name">
              {{mark.name}}
              <ng-container *ngTemplateOutlet="inputMark; context: { '$implicit': { mark: mark, key: index + '' } }"></ng-container>
            </accordion-group>
          </accordion>

          <ng-container *ngIf="isShowCreateMarkForm">
            <ng-container *ngTemplateOutlet="inputMark; context: { '$implicit': { mark: newMark, key: 'newMark' } }"></ng-container>
          </ng-container>

          <ng-template #inputMark let-contextMarkAndKey>
            <form #formData='ngForm' class="wrapper-create-mark">
              <span class="ui-float-label input-wifth100">
                <input id="newMarkName-{{contextMarkAndKey.key}}" type="text" name="newMarkName-{{contextMarkAndKey.key}}" [(ngModel)]="contextMarkAndKey.mark.name" required pInputText>
                <label for="newMarkName-{{contextMarkAndKey.key}}">Название марки</label>
              </span>
              <!-- <label for="newMarkName">Название марки</label>
              <input type="text" name="newMarkName-{{contextMarkAndKey.key}}" id="newMarkName-{{contextMarkAndKey.key}}" [(ngModel)]="contextMarkAndKey.mark.name"  required> -->

              <span class="ui-float-label input-wifth100">
                <!-- <input
                  id="newMarkDescription-{{contextMarkAndKey.key}}"
                  type="text" name="newMarkDescription-{{contextMarkAndKey.key}}"
                  [(ngModel)]="contextMarkAndKey.mark.description"
                  required
                  pInputText
                > -->

                <textarea
                  id="newMarkDescription-{{contextMarkAndKey.key}}"
                  type="text" name="newMarkDescription-{{contextMarkAndKey.key}}"
                  [(ngModel)]="contextMarkAndKey.mark.description"
                  required
                  class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                  pInputTextarea>
                </textarea>
                <!-- <label for="newMarkDescription-{{contextMarkAndKey.key}}">Описание марки</label> -->
              </span>

              <!-- <label for="newMarkDescription">Описание марки</label>
              <textarea name="newMarkDescription-{{contextMarkAndKey.key}}" id="newMarkDescription-{{contextMarkAndKey.key}}" [(ngModel)]="contextMarkAndKey.mark.description" required></textarea> -->

              <p-toolbar>
                <div class="ui-toolbar-group-left">
                  <!-- <button type="button" class="btn btn-primary" (click)="createModel(contextMarkAndKey.mark)">Добавить модель</button> -->
                  <button (click)="createModel(contextMarkAndKey.mark)" pButton type="button" label="Добавить модель" icon="pi pi-plus"></button>
                </div>
              </p-toolbar>

              <span>Список моделей:</span>

              <accordion [isAnimated]="true" class="models">
                <accordion-group
                  class="model"
                  *ngFor="let model of getMarkType(contextMarkAndKey.mark).models; let indexM = index" heading="Модель №{{indexM}}, Название: '{{model.name}}'">

                  <!-- <div class="models"> -->
                    <!-- <div class="model" *ngFor="let model of contextMarkAndKey.mark.models; let indexM = index"> -->
                  <p-toolbar>
                    <div class="ui-toolbar-group-left">
                      <button (click)="createAttributeInModel(model)" pButton type="button" label="Добавить аттриут" icon="pi pi-plus"></button>
                      <!-- <button (click)="createAttributes()" pButton type="button" label="Сохранить изменения" icon="pi pi-check" class="ui-button-warning"></button> -->
                      <!-- <button (click)="refresfAttributes()" pButton type="button" label="Перезагрузить атрибуты" icon="pi pi-plus" class="ui-button-secondary"></button> -->

                      <!-- <button type="button" class="btn btn-primary" (click)="createAttributeInModel(model)">Добавить Атрибут</button> -->

                      <!-- <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>

                      <i class="pi pi-bars"></i>

                      <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton> -->
                    </div>
                    <div class="ui-toolbar-group-right">
                      <button (click)="deleteModelFromMark(contextMarkAndKey.mark, model)" pButton type="button" label="Удалить модель" icon="pi pi-trash" class="ui-button-danger"></button>
                      <!-- <button pButton type="button" icon="pi pi-search"></button>
                      <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
                      <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button> -->
                    </div>
                  </p-toolbar>
                  <div class="model-row">
                    <span>Название модели</span>
                    <input type="text" [(ngModel)]="model.name" name="nameOfModel-{{contextMarkAndKey.key}}={{'' + indexM}}" required>
                  </div>
                  <div class="model-row">
                    <span>Описание модели</span>
                    <textarea type="text" [(ngModel)]="model.description" name="descriptionOfModel-{{contextMarkAndKey.key}}={{'' + indexM}}"></textarea>
                  </div>
                  <div class="model-row">
                    <span>Главная фотография модели</span>
                    <app-upload-photo
                      [photo]="model.mainPhoto"
                      [folderName]="'uploadModelMainPhoto'"
                      (upload)="uploadMainPhotoForModel($event, model)"
                      (delete)="deletePhotoFromModel($event, model)">
                    </app-upload-photo>
                  </div>
                  <div class="model-row">
                    <label for="presPhotoHorizontalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}">Позиция фото по горизонтали </label>
                    <p-dropdown
                      [options]="horizontalPosition"
                      [(ngModel)]="model.presPhotoHorizontalPosition"
                      id="presPhotoHorizontalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}"
                      name="presPhotoHorizontalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}"
                      required>
                    </p-dropdown>
                    <label for="presPhotoVerticalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}">По вертикали </label>
                    <p-dropdown
                      [options]="verticalPosition"
                      [(ngModel)]="model.presPhotoVerticalPosition"
                      id="presPhotoVerticalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}"
                      name="presPhotoVerticalPosition-{{contextMarkAndKey.key}}-{{'' + indexM}}"
                      required>
                    </p-dropdown>
                  </div>
                  <div class="model-row">
                    <span>Фото сверху презентации</span>
                    <app-upload-photo
                      [horisontal]="model.presPhotoHorizontalPosition"
                      [vertical]="model.presPhotoVerticalPosition"
                      [photo]="model.mainPresenPhoto"
                      [folderName]="'uploadModelMainPresentationPhoto'"
                      (upload)="uploadMainPresenPhotoForModel($event, model)"
                      (delete)="deleteMainPresenPhotoForModel($event, model)">
                    </app-upload-photo>
                  </div>
                  <div class="model-row">
                    <span>Аттрибиты</span>
                    <div class="table-attributes">
                      <div *ngFor="let attribute of model.attributes; let indexMM = index" class="table-attribute">
                        <div class="key-of-attrubute">
                          <input
                            [(ngModel)]="attribute.name"
                            [typeahead]="attributesNames"
                            [isAnimated]="true"
                            class="form-control"
                            (typeaheadOnSelect)="addVariantToAttribute(attribute)"
                            placeholder="Название" name="attribute-name-{{contextMarkAndKey.key}}-{{'' + indexM}}-{{indexMM + ''}}" required />
                        </div>
                        <div class="value-of-attrubute">
                          <input
                            *ngIf="!isSelectableAttribute(attribute)"
                            class="form-control"
                            type="text"
                            name="attribute-value-{{contextMarkAndKey.key}}-{{'' + indexM}}-{{indexMM}}"
                            id=""
                            placeholder="Значение"
                            [(ngModel)]="attribute.value"
                            required />
                              <!-- [ngModelOptions]="{standalone: true}" -->
                          <p-dropdown
                            *ngIf="isSelectableAttribute(attribute)"
                            [options]="attribute.variants || []"
                            [(ngModel)]="attribute.value"
                            name="attribute-value-{{contextMarkAndKey.key}}-{{'' + indexM}}-{{indexMM}}"
                            required>
                          </p-dropdown>
                        </div>


                        <div class="buttons">
                          <p-button [disabled]="attribute.isRequired"  styleClass="ui-button-danger" icon="pi pi-trash" iconPos="left" (click)="deleteAttributeFromModel(model, attribute)"></p-button>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="model-row-big">
                    <span>Модули</span>

                    <p-toolbar>
                      <div class="ui-toolbar-group-left">
                        <form #formCreateMuduleData='ngForm'>
                          <button
                            [disabled]="!formCreateMuduleData.valid"
                            (click)="addModuleToModelPres(model, formCreateMuduleData)"
                            pButton
                            type="button"
                            label="Добавить модуль в презентацию"
                            icon="pi pi-plus">
                          </button>
                          <p-dropdown
                            [options]="presModuleType"
                            name="type"
                            id="type"
                            ngModel
                            required>
                          </p-dropdown>
                        </form>
                      </div>
                    </p-toolbar>

                    <p-orderList [value]="model.modulesInPres">
                      <ng-template let-module pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <span> Тип модуля: {{ getModuleType(module.type) }} </span>
                          <span> Заголовок: {{ module.data.title || "НЕНАЗНАЧЕН" }} </span>
                          <span> Подзаголовок: {{ module.data.subTitle || "НЕНАЗНАЧЕН" }} </span>
                          <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
                          <!-- <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{module.data.brand}} - {{car.year}} - {{car.color}}</div> -->
                        </div>
                      </ng-template>
                    </p-orderList>

                    <div class="modules-list">
                      <ng-container *ngFor="let module of model.modulesInPres; let indexMM = index" >
                        <div class="modules-list-item">
                          <!-- <div class="modules-list-item-row">
                            <span>{{ indexMM }}</span>
                          </div> -->
                          <ng-container *ngIf="module.type === PresModuleType.design">

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                [(ngModel)]="module.data.title"
                                required
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title">Название блока</label>
                            </span>

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                [(ngModel)]="module.data.subTitle"
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle">Подназвание</label>
                            </span>

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionTitle"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionTitle"
                                [(ngModel)]="getDesingDataType(module.data).descriptionTitle"
                                required
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionTitle">Заголовок описания</label>
                            </span>

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionText"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionText"
                                [(ngModel)]="getDesingDataType(module.data).descriptionText"
                                required
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-descriptionText">Текст описания</label>
                            </span>

                            <p-carousel
                              [value]="addNullToArray(getDesingDataType(module.data).photos)"
                              [circular]="false"
                              [numVisible]="2">
                              <p-header>
                                <h3>Фотки для блока</h3>
                              </p-header>
                              <ng-template let-photo pTemplate="item">
                                <div class="photo-in-carousel">
                                  <!-- <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{.index}}">Фото</label> -->
                                  <!-- <span>{{photo?.filePathFirebase}}</span> -->
                                  <img style="width: 200px;" *ngIf="!!photo" [src]="photo?.url" alt="" sizes="" srcset="">
                                  <!-- name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{i}}"
                                    id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{i}}" -->
                                  <div *ngIf="!photo" class="fileupload">
                                    <input
                                      class="originally"
                                      type="file"
                                      (change)="uploadPhotoToGalleryOrDesignModule($event, module)">
                                  </div>

                                  <div *ngIf="!photo" class="filechoise">
                                    <span>Выбрать фото</span>
                                  </div>

                                  <p-button *ngIf="!!photo" styleClass="ui-button-danger" icon="pi pi-times" iconPos="left" (click)="deletePhotosFormDesignModule(module, photo)"></p-button>

                                </div>
                              </ng-template>
                            </p-carousel>

                          </ng-container>

                          <ng-container *ngIf="module.type === PresModuleType.gallery">

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                [(ngModel)]="module.data.title"
                                required
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title">Название блока</label>
                            </span>

                            <span class="ui-float-label input-wifth100 modules-list-item-row">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                [(ngModel)]="module.data.subTitle"
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle">Подназвание</label>
                            </span>

                            <p-carousel
                              [value]="addNullToArray(getGalleryDataType(module.data).photos)"
                              [circular]="false"
                              [numVisible]="2">
                              <p-header>
                                <h3>Фотки для блока</h3>
                              </p-header>
                              <ng-template let-photo pTemplate="item">
                                <div class="photo-in-carousel">
                                  <!-- <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{.index}}">Фото</label> -->
                                  <!-- <span>{{photo?.filePathFirebase}}</span> -->
                                  <img style="width: 200px;" *ngIf="!!photo" [src]="photo?.url" alt="" sizes="" srcset="">
                                  <!-- name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{i}}"
                                    id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-photo-{{i}}" -->
                                  <div *ngIf="!photo" class="fileupload">
                                    <input
                                      class="originally"
                                      type="file"
                                      (change)="uploadPhotoToGalleryOrDesignModule($event, module)">
                                  </div>

                                  <div *ngIf="!photo" class="filechoise">
                                    <span>Выбрать фото</span>
                                  </div>

                                  <p-button *ngIf="!!photo" styleClass="ui-button-danger" icon="pi pi-times" iconPos="left" (click)="deletePhotosFormDesignModule(module, photo)"></p-button>

                                </div>
                              </ng-template>
                            </p-carousel>

                          </ng-container>

                          <ng-container *ngIf="module.type === PresModuleType.equipment">
                            <p-toolbar>
                              <div class="ui-toolbar-group-left">
                                <button
                                  (click)="addEmptyEqupmentToModule(module.data)"
                                  pButton
                                  type="button"
                                  label="Добавить элемент"
                                  icon="pi pi-plus">
                                </button>
                              </div>
                            </p-toolbar>

                            <span class="ui-float-label input-wifth100">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title"
                                [(ngModel)]="module.data.title"
                                required
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-title">Название блока</label>
                            </span>

                            <span class="ui-float-label input-wifth100">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle"
                                [(ngModel)]="module.data.subTitle"
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subTitle">Подназвание</label>
                            </span>

                            <span class="ui-float-label input-wifth100">
                              <input
                                id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subSubTitle"
                                type="text"
                                name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subSubTitle"
                                [(ngModel)]="getEquipmentsDataType(module.data).subSubTitle"
                                pInputText>
                              <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-subSubTitle">Подподназвание</label>
                            </span>

                            <div class="equipments-table">
                              <div *ngFor="let equipment of getEquipmentsDataType(module.data).equipments; let indexMMM = index" class="equipments-table-equipment">
                                <img
                                  style="width: 200px;"
                                  *ngIf="getEquipmentType(equipment).photo && getEquipmentType(equipment).photo.url"
                                  [src]="getEquipmentType(equipment).photo?.url"
                                  alt=""
                                  sizes=""
                                  srcset="">

                                <div *ngIf="!getEquipmentType(equipment).photo || !getEquipmentType(equipment).photo.url" class="empty">
                                  <span>Тут нету фотки</span>
                                </div>

                                <div class="upload-photo">
                                  <div class="fileupload">
                                    <input
                                      class="originally"
                                      type="file"
                                      (change)="uploadPhotoToEquipmentModule($event, getEquipmentType(equipment))">
                                  </div>

                                  <div class="filechoise">
                                    <span>Выбрать фото</span>
                                  </div>
                                </div>

                                <span class="ui-float-label input-wifth100">
                                  <input
                                    id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-title"
                                    type="text"
                                    name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-title"
                                    [(ngModel)]="getEquipmentType(equipment).title"
                                    required
                                    pInputText>
                                  <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-title">Заголовок</label>
                                </span>

                                <span class="ui-float-label input-wifth100">
                                  <input
                                    id="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-description"
                                    type="text"
                                    name="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-description"
                                    [(ngModel)]="getEquipmentType(equipment).description"
                                    required
                                    pInputText>
                                  <label for="mark-{{contextMarkAndKey.key}}-model-{{indexM + ''}}-module-{{indexMM + ''}}-{{indexMMM + ''}}-description">Описание</label>
                                </span>

                                <p-button
                                  styleClass="ui-button-danger"
                                  icon="pi pi-times"
                                  iconPos="left"
                                  (click)="deleteEquipmentFromModule(module.data, equipment)">
                                </p-button>
                              </div>
                            </div>

                          </ng-container>

                        </div>
                      </ng-container>
                    </div>

                  </div>
                </accordion-group>
              </accordion>

                <!-- </div>
              </div> -->

              <div class="panelBar">
                <button type="button" [disabled]="!formData.valid" class="btn btn-primary" (click)="createOrUpdateMark(contextMarkAndKey.mark)">Сохранить изменения</button>
              </div>
            </form>
          </ng-template>

        </div>
      </tab>
    </tabset>
  </div>
</div>
